.vscode/**
.github/**
.vscode-test/**
.gitignore
.prettierignore
src/**
test/**
scripts/**
node_modules/**
tsconfig.json
package-lock.json
*.vsix
upstream/**

dist/editor-test.cjs
dist/*.map
playwright.config.ts
test-results/**
playwright-report/**
